@model MovieShopCustomerAuth.Models.ChangePassModel
@{
    ViewBag.Title = "ChangePass";
}



<h2>Change password</h2>


<form method="post" action="~/Home/ChangePass" class="col-md-12">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(c => c.OldPassword)
        @Html.PasswordFor(c => c.OldPassword, htmlAttributes: new { @class = "form-control" })
        @if (ViewBag.PreviousFail != null)
        {
            <p style="color:red">Incorrect password</p>
        }
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Password)
        @Html.TextBoxFor(c => c.Password, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Password, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.VerifiedPassword)
        @Html.TextBoxFor(c => c.VerifiedPassword, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.VerifiedPassword, "", new { @class = "text-danger" })
    </div>
    
    
    
    <div class="form-group">
        <button type="submit" class=".btn-default">Save</button>
    </div>
</form>