@model MovieShopAdministration.Models.EditMovieModel;

    @{
        ViewBag.Title = "Create";
    }

    <h2>Create Movie</h2>

    <form method="Post" action="~/Movie/Create" class="col-md-12">
        @Html.ValidationSummary(true, "Something went wrong", new { @class = "text-danger" })
         @*@Html.TextBox(m => m.Title, htmlAttributes : new { @class = "form-control", @Name = "Title" })*@
        <div>
            <label for="Title">Title: </label>
            <input type="text"
                   name="title"
                   value="@Request["title"]" />
            @Html.ValidationMessage("title")
        </div>
       
        <div class=" form-group">
            <label for="price"> Price</label>
            <input type="number" class="form-control" name="Price" />
        </div>
        <div class="form-group">
            <label for=" Year">Year</label>
            <input type="date" class="form-control" name="Year" />
        </div>
        <select class="form-control" id="genreId" name="Genre.Id">
            @foreach (var item in Model)
            {
                <option value=" @item.Id">@item.Name</option>
            }
        </select>
        <div class="form-group">
            <label for=" ImgUrl">ImgUrl</label>
            <input type="url" class="form-control" name="ImgUrl" />
        </div>
        <div class="form-group">
            <label for="TrailerUrl">TralerUrl</label>
            <input type="url" class="form-control" name="TrailerUrl">
        </div>
        <button type="submit" class="btn-default">Save </button>
    </form>
