@model MovieShopAdministration.Models.EditMovieModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form method="Post" action="~/Movie/Edit" class="col md-12">

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "Something went wrong", new { @class="text-danger" })
  <input type="hidden" class="form-control"  name="Id" value="@Model.Movie.Id" hidden >
  @*<input type="text" class="form-control" name="Title" value="@Model.Movie.Title" />*@
    @Html.TextBoxFor(m => m.Movie.Title, htmlAttributes: new { @class="form-control", @Name="Title"})
    @Html.ValidationMessageFor(m => m.Movie.Title)
  <input type="number" step="0.01" class="form-control" name="Price" value="@Model.Movie.Price">
  <input type="date" class=" form-control" name="Year" value="@Model.Movie.Year.ToString("yyyy-MM-dd")">
  <select class="form-control" name="Genre.Id"> 
      @foreach (var item in Model.Genres) {
          <option value="@item.Id" @(Model.Movie.Genre.Id==@item.Id ? "selected": "")>@item.Name</option>
      }
    </select>
    <input type="url" class="form-control" name="ImgUrl" value="@Model.Movie.ImgUrl" />
    <input type="url" class="form-control" name="TrailerUrl" value="@Model.Movie.TrailerUrl" />
    <button type="submit" class="btn btn-default">Update</button>

</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }

