@model List<Proxy.DomainModels.Movie>

@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <h1>Bootstrap 3 Lightbox using Modal</h1>
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-lg-3 col-sm-4 col-xs-6" style="outline : solid lightgrey 1px; margin : 10px; background-color : lightgray">
            <a title="@item.Title" href="#">
            <img style="margin-top: 15px" class="thumbnail img-responsive" src="@item.ImgUrl" height="200">
            </a> 
                <p style="font-size:30px">@item.Title</p>
                <h4>@item.Year.Year</h4>
                <h4>@item.Genre.Name</h4>
                <div>
                    <div style="position:relative; float:left">
<p style="font-size:30px">Kr. @item.Price </p></div>
            <div style="position:relative; float:right"><a class="btn btn-default" style="background-color : gray">Buy</a></div>
            </div>
</div>
            }
            </div>
        <hr>
        <a href="http://bootply.com/71401">Edit on Bootply</a>
        <hr>
    </div>
</div>
<div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body">
                <div id="modalCarousel" class="carousel">

                    <div class="carousel-inner">

                    </div>

                    <a class="carousel-control left" href="#modaCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                    <a class="carousel-control right" href="#modalCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>