@model Proxy.DomainModels.ShoppingCart

@{
    ViewBag.Title = "ShoppingCart";
}

<h2>ShoppingCart</h2>
<table class="table">
    <tr>
        <th>Movie</th>
        <th>Amount</th>
    </tr>

@foreach (var item in Model.Orderline) {
    <tr>
        <td>
            <div class="col-lg-2 col-sm-4 col-xs-6" style="outline : solid lightgrey 1px; margin : 10px; background-color : lightgray; min-height : 350px; min-width : 150px">
                <a title="@item.Movie.Title" href="#">
                    <img style="margin-top: 15px; max-height : 220px; max-width : 160px; vertical-align : central; display: block; margin-left: auto; margin-right: auto" class="thumbnail img-responsive" src="@item.Movie.ImgUrl">
                </a>
                <div style="position : absolute; bottom: 0; width : 85%">
                    <p style="font-size:20px; margin-bottom : 0px;"><b>@item.Movie.Title</b></p>
                    <p style="font-size:15px; margin : 0px;">@item.Movie.Year.Year</p>
                    <p style="font-size:15px; margin : 0px;">@item.Movie.Genre.Name</p>
                </div>
            </div>

        </td>
        <td>
            <p style="font-size : 30px">@item.Amount</p>
        </td>
    </tr>
}
</table>

@Html.ActionLink("Checkout", "Checkout", "Home", new { @class = "btn btn-default" , @style="float : right"});
