@model Proxy.DomainModels.Customer

@{
    ViewBag.Title = "NewCustomer";
}

<h2>NewCustomer</h2>
    

<form method="post" action="~/Customer/NewCustomer" class="col-md-12">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(c => c.FirstName)
        @Html.TextBoxFor(c => c.FirstName, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.FirstName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.MiddleName)
        @Html.TextBoxFor(c => c.MiddleName, htmlAttributes: new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.LastName)
        @Html.TextBoxFor(c => c.LastName, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.LastName,"", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.StreetName)
        @Html.TextBoxFor(c => c.StreetName, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.StreetName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.StreetNumber)
        @Html.TextBoxFor(c => c.StreetNumber, htmlAttributes: new { @class = "form-control", type="number" })
        @Html.ValidationMessageFor(c => c.StreetNumber, "", new { @class = "text-danger" })
        
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Email)
        @Html.TextBoxFor(c => c.Email, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Email, "", new { @class = "text-danger" })
        
    </div>

    <div class="form-group">
        <button type="submit" class=".btn-default">Create</button>
    </div>
</form>
